@use "variables" as *;

body {
	background-color: $background-color;
	font-family: $font-family;
	color: white;
	margin: 0;
	padding: 0;
}

button {
	font-family: $font-family;
	background-color: transparent;
	color: white;
}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

a:visited {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

a:hover {
	cursor: pointer;
}
