:root {
	--background-color: #1b1b20;
	--font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 body {
	background-color: var(--background-color);
	font-family: var(--font-family);
	color: white;
	margin: 0;
	padding: 0;
}

button {
	border: none;
	font-family: var(--font-family);
	background-color: transparent;
	color: white;
}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

a:hover {
	cursor: pointer;
}

